<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Home guest page</h1>
  </header>
  <main>
    Main content
  </main>
  <aside>
    <form action="/register" method="POST" id="register-form">
      <div>
        <label for="username">User name</label>
        <input type="text" name="username" id="username">
      </div>
      <button type="submit">Sign up</button>
    </form>
  </aside>
  <footer>
    <%= new Date().getFullYear() %>
  </footer>
</body>
</html>